<div class="row">
  <div class="col-md-5">
    <!-- <rb-recipe-list (recipeSelected)="selectedRecipe = $event"></rb-recipe-list> -->  <!-- Here recipeSelected means output property of recipe-list component -->
   <!-- and selectedRecipe means we are assigning it to local property of recipes.component.ts so that we can use it below -->
   <rb-recipe-list></rb-recipe-list>
  </div>
  <div class="col-md-7">
  <!--  Here first selectedRecipe is the input property of recipe-detail and second one is local property of recipes component -->
    <!-- <rb-recipe-detail [selectedRecipe]="selectedRecipe"></rb-recipe-detail> -->
    <router-outlet></router-outlet>
  </div>
</div>
